/* import google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* reset css  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


/* declare variables  */

:root {
    --primary-color: #131313;
    --secondary-color: #727272;
    --dark-gray: #424242;
    --btn-text: #FFF;
    --primary-font: 2.8rem;
    --medium-font: 1.2rem;
    --small-font: 1rem;
    --bolder: 700;
    --bold: 600;
    --semi-bold: 500;
    --normal-weight: 400;
}


/* shared styles  */

.btn-primary {
    color: var(--btn-text);
    font-size: var(--medium-font);
    font-weight: var(--bold);
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
}

.primary-para {
    color: var(--secondary-color);
    font-size: var(--small-font);
    font-weight: var(--normal-weight);
    line-height: 1.6rem;
    margin-bottom: 32px;
}

/* navigation styles starts here  */
header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.10);
}

.navigation {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation h1 {
    color: var(--primary-color);
    font-size: var(--primary-font);
    font-weight: var(--bolder);
}

.navigation ul {
    display: flex;
    justify-content: center;
}

.navigation ul li {
    list-style: none;
    margin-left: 50px;
}

.navigation ul li a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 1.1rem;
    font-weight: var(--semi-bold);
    line-height: 1.6rem;
}



/* banner styles start here  */
.banner {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner .header-content {
    width: 60%;
    max-width: 868px;
    margin: 50px auto;
    text-align: center;
}

.banner .header-content h2 {
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: var(--bolder);
}

.banner .banner-image {
    width: 100%;
    max-width: 1440px;
    padding-bottom: 45px;
}

.banner .banner-image img {
    width: 100%;
}



/* quick list styles starts here  */
.quick-list {
    width: 75%;
    max-width: 1440px;
    margin: 85px auto;
    padding: 0 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 73px;
}

.quick-list .quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list .quick-list-content h3 {
    font-size: var(--primary-font);
    margin-bottom: 24px;
}

.quick-list .quick-list-content h3 .span-1 {
    color: var(--secondary-color);
    font-weight: var(--semi-bold);

}

.quick-list .quick-list-content h3 .span-2 {
    color: var(--primary-color);
    font-weight: var(--bold);
}

.quick-list .quick-list-content h3 .span-3 {
    color: #FF900E;
    font-weight: var(--bold);
}


/* features style starts here  */
.features {
    width: 75%;
    max-width: 1440px;
    margin: 45px auto;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.features .feature-content h3 {
    max-width: 468px;
    color: var(--primary-color);
    font-size: var(--primary-font);
    font-weight: var(--bolder);
    margin-bottom: 24px;
    padding-left: 20px;
    margin-top: 30px;
    border-left: 5px solid #FF900E;
}

.features .feature-content #feature-para {
    margin-bottom: 30px;
}

.features .feature-content .skills .skill {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.features .feature-content .skills h4 {
    color: var(--primary-color);
    font-size: var(--medium-font);
    font-weight: var(--bold);
    margin-bottom: 10px;
}

.features .feature-content .skills .skill-para {
    line-height: 26px;
    margin-bottom: 0;
}



.feature-image-container .btn-primary {
    position: relative;
    top: -8%;
    left: -10%;
}

.feature-image-container .btn-primary .btn-title {
    font-size: 4rem;
    font-weight: var(--bolder);
    line-height: 70px;
}

.feature-image-container .btn-primary .btn-text {
    font-size: 1.6rem;
    font-weight: var(--semi-bold);
    line-height: 24px;
}




/* facts styles start here  */

.facts {
    width: 75%;
    max-width: 1440px;
    margin: 85px auto 0;
}

.facts .fact-content {
    max-width: 542px;
}

.facts .fact-content h3 {
    color: var(--primary-color);
    font-size: var(--primary-font);
    font-weight: var(--bolder);
    margin-bottom: 24px;
}

.facts .fact-card {
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
}

.facts .fact-card .card {
    text-align: center;
    padding: 59px 40px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    height: 241px;
    width: 241px;
}

.facts .fact-card .card h4 {
    color: var(--dark-gray);
    font-size: var(--primary-font);
    font-weight: var(--bold);
}

.facts .fact-card .card p {
    color: var(--secondary-color);
    font-size: var(--medium-font);
    font-weight: var(--bold);
}



/* sponsor section starts here  */
.sponsor {
    width: 75%;
    max-width: 1440px;
    margin: 130px auto;
}

.sponsor .sponsor-content {
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsor .sponsor-content h3 {
    color: var(--primary-color);
    font-size: var(--primary-font);
    font-weight: var(--bolder);
    margin-bottom: 24px;
}

.sponsor .sponsor-content p {
    line-height: 1.6rem;
}


.sponsor .sponsor-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: grayscale(1);
}



/* footer styles starts here  */
.footer {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto 200px;
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
}
.footer p{
    color: var(--secondary-color);
    font-size: var(--medium-font);
    font-weight: var(--normal-weight);
    padding: 40px 0;
}